<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add thing to do</h1>

    <form method="POST">
        <!-- csrf token prevents cross-site scripting -->
        {% csrf_token %}

        <!-- <label for="id_name">Name:</label><br>
        <input type="text" id="id_name" name="name"/><br>
        <br>
        <label for="id_done">Done:</label><br>
        <input type="checkbox" id="id_done" name="done"/><br>
        <br> -->

        <!-- This replaces the labels and inputs commented above. the .as_p displays the form parts as block elements -->
        {{ form.as_p }}

        <button type="submit">Save</button>

    </form>
</body>
</html>